*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    overflow: hidden;
    }
    
    body {
        height: 100vh;
    }
    .bg-container {
        height: 100vh;
        z-index: -1;
        background: rgb(155, 144, 255);
        transition: 1.7s ease-in;
    }
    .clear {
        background: rgb(125, 166, 228);
        transition: 1s ease;
    }
    .cloudy {
        transition: 1.7s ease;
        background: rgb(142, 162, 185);
    }
    .rain {
        transition: 1s ease;
        background: rgb(136, 143, 150);
    }
    .storm {
        transition: 0.7s ease;
        background: rgb(76, 64, 92);
    }
    .fog {
        transition: 4s ease;
        background: rgb(219, 219, 219);
    }
    .haze {
        transition: 4s ease;
        background: rgb(209, 181, 148);
    }

   .pull-down {
position: absolute;
right: 0;
padding: 5px 5px 0 5px;
color: #fff;
background-color: rgba(0, 0, 0, 0.76);
width: 50px;
text-align: center;
border-radius: 0 0 3px 3px;
font-size: 30px;
transition: 0.2s;
cursor: pointer;
visibility: hidden;
}

    .title-container {
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translate(-50%);
        width: 70%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .title{
        font-size: 50px;
        font-weight: 200;
        color: #fff;
    }
    .search-container {
        color: rgb(255, 255, 255);
        font-size: 18px;
    }
    .search-bar {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .search-btn {
        border: none;
        height: 30px;
        width: 50px;
        border-radius: 5px;
        background: rgba(0, 0, 0, 0.281);
        padding: 1px;
        transition: 0.2s;
        cursor: pointer;
    }
    .search-btn:hover {
    background: rgba(2, 2, 2, 0.479);
    transition: 0.2s;
    }
    
    .fa-search {
        margin-right: 3px;
        font-size: 18px;
        color: #fff;
    }
    #search {
        border: none;
        border-radius: 20px;
        height: 30px;
        width: 260px;
        padding: 10px;
        font-size: 16px;
        margin-top: 5px;
        caret-color: rgb(79, 205, 255);
    }
    #search:focus {
        outline: none;
    }
    
    .invalid-search {
        background-color: rgba(255, 255, 255, 0.747);
        position: absolute;
        right: 30%;
        top: -20px;
        width: 200px;
        padding: 10px;
        font-size: 15px;
        border-radius: 7px;
        z-index: 2;
        animation: slide 5s ease;
        animation-play-state: paused;
        opacity: 0;
        transition: 0.3s;
    }
    
    .panel {
        background: rgba(0, 0, 0, 0.13);
        height: 70%;
        width: 80%;
        position: relative;
        left: 50%;
        top: 58%;
        transform: translate(-50%, -50%);
        border-radius: 22px;
        box-shadow: -1px 2px 10px 1px rgb(41, 42, 46);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .geolocation {
        font-size: 22px;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .units-btn {
        border-radius: 5px;
        border: none;
        padding: 5px;
        position: absolute;
        right: 10px;
        top: 10px;
        background: rgba(0, 0, 0, 0.192);
        color: #fff;
        transition: 0.2s;
        z-index: 1;
        cursor: pointer;
    }
    .units-btn:hover {
        background: rgba(0, 0, 0, 0.301);
    }
    
    .upper-panel {
        height: 40%;
        width: 90%;
        position: absolute;
        top: 12px;
        font-size: 12px;
        font-family: 'Quicksand', sans-serif;
       text-align: center;
       color: #fff;
    }

    .current-temp-box {
        position: absolute;
        top: 60px;
        left: 16%;
        /* height: 170px; */
        text-align: right;
    }
    #temp {
        font-size: 60px;
    }
    #desc {
        font-size: 25px;
    }
    #icon {
        position: absolute;
        top: 50px;
        left: 42%;
        width: 140px;
    }
    .icon, #icon {
        filter: hue-rotate(30deg) brightness(150%);
    }
    
    .details {
        font-size: 20px;
        text-align: left;
        position: absolute;
        right: 17%;
        top: 70px;
    }
    
    hr { 
        position: absolute;
        top: 48%;
        border: 0;
        height: 2px;
        width: 100%;
        background: linear-gradient(to right, rgba(11, 47, 209, 0), rgb(219, 219, 219), rgba(44, 47, 206, 0));
    }
    .lower-panel {
        height: 42%;
        width: 95%;
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-content: space-evenly;
    }
    .fw {
        background: rgba(0, 0, 0, 0.144);
        height: 100%;
        width: 16%;
        font-size: 10px;
        border-radius: 7px;
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        color: #fff
    }
    .fw img {
        width: 80px;
    }
    
.buttons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

    .see-mars {
        padding: 8px;
        font-size: 16px;
        border-radius: 7px;
        border: none;
        background: transparent;
        color: #fff;
        cursor: pointer;
    }
    .see-mars:hover {
        transition: 0.2s;
        transform: scale(0.9);
    }
    
    .location-btn {
        border: none;
       padding: 8px;
        border-radius: 5px;
        background: transparent;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }
    .location-btn:hover {
        transition: 0.2s;
        transform: scale(0.9);
        }

        .nav-buttons {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.76);
            top: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            width: 140px;
            border-radius: 0 0 0 5px;
            transform: translateY(-80px);
            transition: 0.2s;
            display: none;
        }
    
        .made-by {
            font-size: 12px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
            color: #fff;
        }

        @media screen and (max-width: 1100px) {
            .current-temp-box {
                left: 9%;
            }
            .details {
                right: 7%;
            }
        }
        
        @media screen and (max-width: 860px) {
            .title {
              font-size: 50px;
            }
            .search-container {
                font-size: 16px
                }
            #search {
                height: 24px;
                width: 80%;
            }
            .pull-down {
                visibility: visible;
             }
             .buttons {
                 display: none;
             }
             .nav-buttons {
                 display: inline;
             }
             .current-temp-box {
                left: 5%;
            }
            .details {
                right: 0%;
            }
        }
        
            @media only screen and (max-width: 768px) {
                .title-container {
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    top: 25px;
                    height: 20%;
                }
                .search-container {
                  font-size: 15px;
                  text-align: center;
                }
                .panel {
                    top: 63%;
                    width: 95%;
                }
                #icon {
                    width: 120px;
                }
                .current-temp-box {
                    top: 70px;
                    left: 3%;
                }
                .details {
                    top: 75px;
                    font-size: 16px;
                }
                #temp {
                    font-size: 37px;
                }
            }
          
            @media screen and (max-width: 500px) {
                .title {
                    font-size: 37px;
                }
                .fw {
                  width: 18%;
                }
                .fw img {
                    width: 60px;
                }
                .current-temp-box {
                    top: 85px;
                }
                #temp {
                    font-size: 37px;
                }
                #desc {
                    font-size: 18px;
                }
                #icon {
                    top: 70px;
                    width: 100px;
                    left: 40%;
                }
                .details {
                    top: 90px;
                    font-size: 15px;
                }
                .upper-panel {
                    font-size: 10px;
                    
                }
              }

              @media screen and (max-width: 468px) {
                  .search-container {
                      width: 74%;
                  }
                  .upper-panel{
                      text-align: left;
                      font-size: 9px;
                  }
                  .units-btn {
                      top: 55px;
                  }
                  #icon
                   {
                       left: 35%;
                       top: 5%;
                   }

              }

        